Repository OS-CRN74025-Group1/Tutorial4_JeopardyGame: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, clang-format

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: nixpkgs-fmt
      name: nixpkgs-fmt
      entry: nixpkgs-fmt
      language: system
      files: \.nix$
      pass_filenames: true
      
    - id: clang-format
      name: clang-format
      entry: clang-format -i
      language: system
      files: \.(c|h)$
      pass_filenames: true
      additional_dependencies: [clang-tools]
      
    - id: trailing-whitespace
      name: trailing-whitespace
      entry: trailing-whitespace-fixer
      language: system
      types: [text]
      
    - id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: system
      types: [text]
      
    - id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: system
      types: [text]

Enhance Git and VS Code configuration for cross-platform development
  .gitignore
  flake.nix
Due: nixpkgs-fmt

Implement player existence check and score update functions
  DELIVERABLES.md
  players.c
Due: clang-format

updated question src files
  questions.c
  questions.h
Due: clang-format

Add files via upload
  jeopardy_source/Makefile
  jeopardy_source/jeopardy.c
  jeopardy_source/jeopardy.h
  jeopardy_source/players.c
  jeopardy_source/players.h
  jeopardy_source/questions.c
  jeopardy_source/questions.h
Due: clang-format

Add pre-commit configuration and update .gitignore
  .github/workflows/nix-build.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  DELIVERABLES.md
  README.md
  flake.nix
  hosts/daimyo00/configuration.nix
  jeopardy.h
  players.h
  questions.h
  shell.nix
Due: nixpkgs-fmt, clang-format

fix: make shell.nix more robust
  shell.nix
Due: nixpkgs-fmt

fix: simplify shell.nix for debugging
  shell.nix
Due: nixpkgs-fmt

fix: minimal shell.nix for testing
  shell.nix
Due: nixpkgs-fmt

test: add debug tools
  shell.nix
Due: nixpkgs-fmt

test: add formatters and linters
  shell.nix
Due: nixpkgs-fmt

test: add testing tools
  shell.nix
Due: nixpkgs-fmt

fix: simplify pre-commit configuration
  shell.nix
Due: nixpkgs-fmt

feat: add flake.nix and pre-commit config
  .pre-commit-config.yaml
  flake.nix
  jeopardy.c
  players.c
  questions.c
Due: nixpkgs-fmt, clang-format

refactor: simplify flake configuration and improve development shell
  .gitignore
  flake.lock
  flake.nix
Due: nixpkgs-fmt

feat: include players header in jeopardy.h
  jeopardy.h
Due: clang-format

docs: enhance README with comprehensive Nix development environment guide
  README.md
Due: none

feat: restructure project with source directory and build system improvements
  .pre-commit-config.yaml
  Makefile
  README.md
  flake.lock
  flake.nix
  jeopardy-source/jeopardy.c
  jeopardy-source/jeopardy.h
  jeopardy-source/players.c
  jeopardy-source/players.h
  jeopardy-source/questions.c
  jeopardy-source/questions.h
  shell.nix
Due: nixpkgs-fmt, clang-format

feat: implement core game functionality - Add game loop, question bank, player interaction, and improve code quality
  jeopardy-source/jeopardy.c
  jeopardy-source/jeopardy.h
  jeopardy-source/players.c
  jeopardy-source/players.h
  jeopardy-source/questions.c
  jeopardy-source/questions.h
Due: clang-format

feat: include players header in jeopardy.h header file
  jeopardy-source/jeopardy.h
Due: clang-format

fix: update CI paths to use correct jeopardy-source directory structure
  .github/workflows/nix-build.yml
Due: none

docs: add descriptive header comment to jeopardy.h
  jeopardy-source/jeopardy.h
Due: clang-format

docs: add tutorial 4 submission document
  Tutorial-4_Group-10_CRN-74027.pdf
Due: none
